.mvl-characters-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var( --space-lg);
    background-color: var(--white);;
    margin-bottom: 30px ;

    text-color: rgb(0, 0, 0);
}

.mvl-characters-page-header{
    background-image: url("/assets/images/characters_banner.jpeg");
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: var(--black);
    flex-direction: column;
    width: 100%;
}

.mvl-section-card{
    background-image: url("/assets/images/banner-characters.png");
    background-color: black;
    min-height: 250px;
    display: flex;
    justify-content:center;
    align-items:center;
    border: 1px solid var(--color-border);
    background-image: url("/assets/images/imagenmarvel.png");
    width: 96%;
}

.main
{
  background-color: var(--white);
}

.container
{
    color: var(--black);
}

/* cambios en la barra de busqueda SEARCH */
.input-nav {
    width: 40%;
    border-radius: 0;
    font-size: 2rem;
    border: 0;
    border-bottom: 3px solid rgb(201, 28, 28);
    padding-bottom: 0.4375rem;
    background-color: rgb(255, 255, 255);
  }
  :focus {
    outline-color: yellow;
  } 
  
  /* .mvl-characters-page{
    background-color: black;
  } */
  .input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

